.container {
  position: relative;
  border: .15rem solid rgb(175, 173, 173);
  display: flex;
  border-radius: .3rem;
  width: 30rem;
  padding: .5rem;
}
.container:focus {
  border-color: rgb(98, 162, 204);
}

.value {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.arrow-container {
  margin-left: auto;
  margin-right: 0;
}

.arrow {
  border: solid rgb(199, 199, 199);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  border: 0.05rem solid black;
  border-radius: .3rem;
  width: 100%;
  max-height: 15rem;
  overflow-y: auto;
  cursor: pointer;
}
.options.open {
  display: block;
}

.options-item {
  padding: .5rem;
}

.options-item:hover {
  background-color: rgb(221, 241, 255);
}

.options-item.selected {
  background-color: rgb(221, 241, 255);
}